In [1]:
import pandas as pd
sal = pd.read_csv('Salaries.csv')
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
sal.info()

In [ ]:
sal['BasePay'].mean()

In [ ]:
sal['OvertimePay'].max()

What is the job title of Joseph Driscoll(upper case as there is a lower case one)

In [ ]:
 sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']

How Much does Joseph Driscoll make

In [ ]:
 sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

In [ ]:
sal['TotalPayBenefits'].max()

In [ ]:
sal['TotalPayBenefits'].min()

In [ ]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

In [ ]:
sal.loc[sal['TotalPayBenefits'].idxmax()]

In [ ]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

In [4]:
sal.groupby('Year').mean()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Status
Year,,,,,,,,,
2011,18080,63595.956517,4531.065429,3617.081926,NaN,71744.103871,71744.103871,NaN,NaN
2012,54542,65436.406857,5023.417824,3653.437583,26439.966967,74113.262265,100553.229232,NaN,NaN
2013,91728,69630.030216,5281.641980,3819.969007,23829.076572,77611.443142,101440.519714,NaN,NaN
2014,129593,66564.421924,5401.993737,3505.421251,24789.601756,75463.918140,100250.918884,NaN,NaN

Count the Unique Job titles(Note job titles are "different if they do not identital caps and spelling")

In [ ]:
sal.groupby('JobTitle').sum()

In [ ]:
sal['JobTitle'].nunique()

In [ ]:
sal['JobTitle'].value_counts().head(5)

In [29]:
sum(sal[sal['Year'] == 2013]['JobTitle'].value_counts()==1)

202